.nav-header
{
	flex-flow: column;
	margin: 0.2em 0;
}

header
{
	padding-bottom: 0.7em;
}

.bg-midia
{
	background-image: url('../midia/background.png');
	background-repeat: no-repeat;
	background-size: 80%;
	background-attachment: fixed;
	background-position-x: 50em;
}

.center-middle
{
	place-self: center;
}

.btn-effect
{
	filter: drop-shadow(0px 2px 4px var(--color-shadow));
	transition: all 0.5s;
	outline: 0;
}

.btn-effect:hover, .btn-effect:focus,
.btn-effect:hover > img, .btn-effect:focus > img
{
	transform: scale(0.95);
	filter: none;
	transition: all 0.5s;
	outline: 0;
	opacity: 1;
	transition: ease-in-out 0.8s;
}

.technologys
{
	transition: ease-in-out 0.8s;
	max-width: 130px;
	width: auto;
	height: auto;
	max-height: 130px;
	opacity: 0.7;
}

.repositores
{
	max-width: 40px;
	width: auto;
	max-height: 40px;
	height: auto;
	margin-bottom: 1.6rem;
}

@media screen and (max-width: 1200px)
{
	.bg-midia
	{
		background-size: 160%;
		background-attachment: fixed;
		background-position-x: -70%;
	}
}

@media screen and (max-width: 767px)
{
	header
	{
		padding-bottom: 1.7em;
	}
}

@media screen and (max-width: 630px)
{
	.bg-midia
	{
		background-size: 190%;
		background-attachment: fixed;
		background-position-x: -50%;
	}
}

@media screen and (max-width: 500px)
{
	.bg-midia
	{
		background-size: 220%;
		background-attachment: fixed;
		background-position-x: -30%;
	}
}